body{  
  background-image: url("../images/let.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;  
}
.heading{
  color:  rgb(0, 217, 255);
  text-align: center;
}