body{
  text-align: center;
  background-image: url("../images/laptable.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;  
  
}
.home{
  background-image: url("../images/mac.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  padding-bottom: 45%;
}
.head{
  padding-top: 20px;
  color: gold;
}

#sources{
  color: gold;
}